
  <div class="row">
    <div class="col-6">
      <div class='card'>
        <div class='card-header text-center'>
          Mundo
        </div>
        <div class='card-body'>
          <table id="world-map">
            <tbody id="world-maps">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class='card'>
        <div class='card-header text-center'>
          Dungeons
        </div>
        <div class='card-body'>
          <table id="dungeons">
            <tbody id="dungeon-maps">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div div="col-12">
      <h1 id="map-name"></h1>
      <h2 id="map-desc"></h2>
    </div>
  </div>
