.server-online {
    font-weight: bold;
    color: green;
}

.server-offline {
    font-weight: bold;
    color: red;
}

.card:hover {
  background-color: #fdfdfd;
}

.card {
    border-radius: 0;
}

.server-card-body:hover {
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}

.server-card-body  {
  border: 1px solid white;
}
